@media screen and (max-width: 650px) {
	td.requestInfoContainer {
		font-size: .7em;
		overflow: hidden;
	}
}

.main {
	margin-top: 45px;
}

.well {
	background:#FFF;
	margin-bottom:0;
}

.well form {
	margin: 0;
}

.td-mini {
	width:1px;
}

.errors {
	background: red;
}

.td-detail {
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
	text-align: center;
}

.owner {
	border: 1px solid #5BC0DE;
}

.detail {
	display: none;
	padding: 5px 0;
}

/*charts*/
.bar-chart {
	background:#444;
	padding:5px;
	text-align:right;
	color:#FFF;
}

.borderless td {
	border: none;
}

.blocks {
	text-align:center;
}

.activity {
	width:20%;
	height:50px;
	position:relative;
}

.justAdded {
	background:#FC4F49;
	color:#FFF;
}

.currentUser {
	background:#D64952;
	color:#FFF;
}

summary {
	cursor: pointer;
}

h4.activity-heading {
	margin-top: 0;
}

.filter-button {
	margin-top:8px;
}

h5.month {
	cursor:pointer;
	margin-left:10px;
}

table.month-detail {
	margin-left:20px;
}
