.main {
	margin-top: 30px;
}

.well {
	background:#FFF;
}

.well form {
	margin: 0;
}

.td-mini {
	width:1px;
}

.errors {
	background: red;
}

.td-detail {
	border-right:1px solid #DDD;
	border-left:1px solid #DDD;
	text-align: center;
}

.owner {
	border: 1px solid #5BC0DE;
}

.detail {
	display: none;
	padding: 5px 0;
}

/*charts*/
.bar-chart {
	background:#444;
	padding:5px;
	text-align:right;
	color:#FFF;
}

.borderless td {
  border: none;
}