@media screen and (max-width: 650px) {
    td.requestInfoContainer {
        font-size: .7em;
    }
}

.main { margin-top: 25px; }

.errors { background: red; }

summary { cursor: pointer; }

section { margin-bottom: 10px; }

.create-request {
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #F7F7F7;
    padding: 10px;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 28px;
    box-sizing: border-box;
}

section form { margin: 0; }

textarea#description {
    resize: none;
    min-height: 50px;
    max-height: 50px;
}

#activities th {
    text-align: center;
    font-weight: normal;
}

table.fixed { table-layout: fixed; }

.block {
    width: 20%;
    height: 50px;
    font-size: .8em;
    position: relative;
}

.hasActivity { background: #DDD; }

label.tag {
    font-size: .7em;
    text-transform: uppercase;
}

hr { margin: 0; }
